## 64. Introduction
- Flow control determines the order in which the statements are executed at runtime
- Flow Control Statements has Three types
    1. Conditional Statements
        - allow to execute code conditionally
        - includes
            - ```if```
            - ```if..else```
            - ```if..elif..else```
    2. Looping / Iterative Statements
        - allows to execute same set of statements multiple times
        - includes
            - ```for``` loop
            - ```while``` loop
    3. Transfer Statements
        - allows to transfer the control of our program from one place to another
        - includes
            - ```break```
            - ```pass```
            - ```continue```
            - ```return```

## 65. if else Syntax
- Syntax :
        if condition(s) :
            body
- ```if``` can take single condition or multiple conditions that evaluate to boolean True or False
- ```:``` : indicates the start of body of the statements which would execute if condition(s) evaluate to True, otherwise body is not executed
- Syntax :
        if condition(s) :
            body
        else :
            body
- ```if..else``` can also take single condition or multiple conditions that evaluate to boolean True or False
- ```:``` : indicates the start of body of the statements which would execute ```if condition(s)``` evaluate to True, otherwise body of ```else``` is executed

## 66. Find even or odd number

In [34]:
# controlsattements
# evenorodd.py
x = int(input("Enter a number: ")) # 5
if x%2 == 0 :
    print(x, "is even")
else :
    print(x, "is odd")

Enter a number: 5
5 is odd

In [32]:
x = int(input("Enter a number: ")) # 8
if x%2 == 0 : print(x, "is even")
else : print(x, "is odd")

Enter a number: 8
8 is even

## 67. if else ladder
- Syntax :
        if consition1 :
            statements
        elif condition2 :
            statements
        elif condition3 :
            statements
        else :
            statements
- used to evaluate multiple conditions
- to evaluate multiple conditions, we use multiple elif blocks to evaluate each of those conditions, and within each of the elif block, we put the statements that need to be executed against each of those conditions
- any number of elif blocks are allowed and else block is optional
- if first elif block is executed, it will skip / not check the proceeding elif ladder/blocks

## Handle Zero

In [31]:
x = int(input("Enter a number: ")) # 10
if x == 0 : print(x, "is zero")
# 0
# 5
# 10
elif x%2 == 0: print(x, "is even")
else : print(x, "is odd")

Enter a number: 10
10 is even

## Assignment 5 : if-else ladder

In [30]:
phy, chem, math = [int(x) for x in input("Enter Physics, Chemistry, Maths marks: ").split(",")] # 97, 97, 45
average = (phy+chem+math)/3
if phy<35 or chem<35 or math<35 :
    print("Fail")
elif average <=59 :
    print("Grade C")
elif average <= 69 :
    print("Grade B")
else :
    print("Grade A")

Enter Physics, Chemistry, Maths marks: 97, 97, 45
Grade A

## 69. While Syntax
- Syntax :
        while condition(s) :
            statements
- statements are executed repetitively as long as condition(s) returns True, and stops only when condition(s) return False

## 70. Display numbers from 1 to 20

In [17]:
# whiledemo.py
x = 1
while x<=20 :
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 71. Odd numbers between given numbers

In [29]:
# oddnumbers.py
x = int(input("Enter min number: ")) # 2
y = int(input("Enter max number: ")) # 20

i = x
if i%2 == 0:
    i = i+1
while i<=y :
    print(i)
    i+=2

Enter min number: 2
Enter max number: 20
3
5
7
9
11
13
15
17
19

## 72. For Syntax
- Syntax :
        for var in sequence :
            statements
- typically used to iterate over the elements of a sequence such as string, list, tuple, set, range, etc.
- executes as long as the *sequence* has a value to iterate over
- value being iterated over is updated in *var* and can be used in the statements in body
- stops only when the last element of sequence is reached

## 73. using for loop
- print numbers between 50 and 70

In [22]:
# forloop.py
for i in range(50, 71):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70

In [24]:
for i in range(50, 71, 2): # to print every alternate number between 50 and 70
    print(i)

50
52
54
56
58
60
62
64
66
68
70

In [25]:
for i in range(50, 71, 3): # to print every third number between 50 and 70
    print(i)

50
53
56
59
62
65
68

## 74. product of numbers in a list

In [27]:
# productoflist.py
lst = [1, 2, 3, 4, 5]
prod = 1

for i in lst:
    prod*=i
    # print("Product is: ", prod)       # don't use print here, it'll print value of prod for each iteration
print("Product is: ", prod)

Product is:  120

## 75. multiplication table of a given number

In [37]:
# take number from user, print table of that number till 10
# multiplicationtable.py
x = int(input("Enter a number for generating a table: ")) # 5

for i in range(1, 11):
    print(x, 'X', i, '=', i*x)

Enter a number for generating a table: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## 76. break
- breaks / skips all the remaining iterations

In [44]:
# loop though a list and break if list has number 5 in it
# breakdemo.py
lst = [3, 6, 9, 5, 12]

for i in lst:
    if i==5:
        break
    print(i)

3
6
9

## 77. continue
- skip the current iterations

In [45]:
# display all numbers from 1 to 20, but skip all multiples of 3
# continuedemo.py
x = 0
while x<20:
    x+=1
    if x%3 == 0 :
        continue
    print(x)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

## 78. assert
- used for debugging
- if assertion passes, it returns True
- if assertion fails, an AssertionError is thrown

In [47]:
# prompt the user to enter a number which is greater than 10,
# validate and assert using assert statement
# assert.py
x = int(input("Enter a number greater than 10: "))
assert x>10, "Wrong number entered"
print("You enterd", x)

Enter a number greater than 10: 8

AssertionError: ignored

## 79. More Programs- Remove Duplicates in List

In [50]:
# removeduplicates.py
l1 = eval(input('Enter a list of elements ')) # [10, 20, 30, 40, 30, 20]
print(l1)
l2 = []
for each_value in l1:
    if each_value not in l2:
        l2.append(each_value)
print(l2)

Enter a list of elements [10, 20, 30, 40, 30, 20]
[10, 20, 30, 40, 30, 20]
[10, 20, 30, 40]

In [53]:
l1 = eval(input("Enter a list of elements ")) # [10, 20, 10, 30]
s1 = set(l1)
print(s1)

Enter a list of elements [10, 20, 10, 30]
{10, 20, 30}

## 80. More Programs- Count Vowels in a word

In [58]:
# vowelcounter.py
word =  input('Enter a word ')
# eagle
# surya
vowels = {'a', 'e', 'i', 'o', 'u'}
results = {}
for c in word:
    if c in vowels:
        results[c] = results.get(c, 0)+1
for k, v in sorted(results.items()):
    print(k, "is present", v, "times")

Enter a word surya
a is present 1 times
u is present 1 times

## 81. More Programs- Handle employee Details

In [64]:
# capture employee details like name, salary in dict type
# Get employee name from user and return salary, etc.
# employeeinfo.py
n = int(input('Enter the number of employees: ')) # 3
employees = {}
for i in range(n):
    name = input('Enter employee name: ') # john bob surya
    salary = input('Enter employee salary: ') # 10000 8000 1000
    employees[name] = salary
print('You can know the salary details by entering the name')
while True:
    name = input('Enter employee name: ') # surya xxx john
    salary = employees.get(name, -1)
    if salary == -1 :
        print("Employee does not exist")
    else:
        print('The salary of employee is', salary)
    choice = input('Do you want to know the salary of another employee[Yes|No]') # Yes Yes No
    if choice == 'No':
        break

Enter the number of employees: 3
Enter employee name: john
Enter employee salary: 10000
Enter employee name: bob
Enter employee salary: 8000
Enter employee name: surya
Enter employee salary: 1000
You can know the salary details by entering the name
Enter employee name: surya
The salary of employee is 1000
Do you want to know the salary of another employee[Yes|No]Yes
Enter employee name: xxx
Employee does not exist
Do you want to know the salary of another employee[Yes|No]Yes
Enter employee name: john
The salary of employee is 10000
Do you want to know the salary of another employee[Yes|No]No

## Assignment 6: Loops

In [72]:
n = int(input("Enter a number : "))
for i in range(n):
    if i%10 == 0:
        continue
    if i>100 :
        break
    print(i)

Enter a number : 110
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99

## Assignment 7: Input and Output functions

In [84]:
flg = True
n = int(input("Enter number to check prime: "))

for i in range(2, n//2+1):
    if n%i == 0:
        flg = False

if flg:
    print("Prime Number")
else:
    print("Not a Prime NUmber")

Enter number to check prime: 107
Prime Number