## 82. Reverse a String

In [5]:
# stringreversal.py
 # using slicing
s = input('Enter a string: ') # surya
print(s[::-1])

Enter a string: surya
ayrus

In [4]:
 # using loop
s = input('Enter a string: ') # malayalam
i = len(s)-1
result=''
while i>=0:
    result = result + s[i]
    i = i-1
print(result)

Enter a string: malayalam
malayalam

## 83. Reverse using split and join

In [6]:
s = '-'.join(['a', 'b', 'c'])
print(s)

a-b-c

In [7]:
s = ''.join(['a', 'b', 'c'])
print(s)

abc

In [9]:
s = input('Enter a String: ')
print(''.join(reversed(s))) # john

Enter a String: john
nhoj

In [10]:
s = input('Enter a String: ')
print(','.join(reversed(s))) # bob

Enter a String: bob
b,o,b

In [11]:
s = input('Enter a String: ')
print(''.join(reversed(s))) # bob

Enter a String: bob
bob

## 84. Reverse the words in a string
- input
        All the power is with in you
- output
        you in with is power the All

In [17]:
# wordreversal.py
s = 'All the power is with in you'
temp = s.split()
print(temp)
result = []
i = len(temp)-1
while i>=0:
    result.append(temp[i])
    i -=1
print(result)
output = ' '.join(result)
print(output)

['All', 'the', 'power', 'is', 'with', 'in', 'you']
['you', 'in', 'with', 'is', 'power', 'the', 'All']
you in with is power the All

## 85. Reverse the characters in the words
- input
        Super Cool Python
- output
        repuS looC nohtyP

In [20]:
# charreversal.py
s = 'Python is cool'
temp = s.split()
print(temp)
result = []
i = 0
while i<len(temp):
    result.append(temp[i][::-1])
    i += 1
print(result)
output = ' '.join(result)
print(output)

['Python', 'is', 'cool']
['nohtyP', 'si', 'looc']
nohtyP si looc

## 86. Remove Duplicate Chars
- input
        aaaaaBbbbbCCCddefggghI
- output
        aBbCdefghi

In [22]:
# removeduplicatechars.py
s = 'abcbbbccccZZZZIII'
temp = []
for c in s:
    if c not in temp:
        temp.append(c)
print(temp)
output = ''.join(temp)
print(output)

['a', 'b', 'c', 'Z', 'I']
abcZI

## 87. Count the characters

In [24]:
# charcount.py
s = 'aaaabbbccczidlkfjasdkjflksjlkl'
d = {}
for c in s:
    if c in d.keys():
        d[c] +=1
    else:
        d[c] = 1
for k, v in d.items():
    print('{}={}times'.format(k, v))

a=5times
b=3times
c=3times
z=1times
i=1times
d=2times
l=4times
k=4times
f=2times
j=3times
s=2times

## 88. Print Right Angled Triangle
    *
    * *
    * * *
    * * * *
    * * * * *
    * * * * * *
    * * * * * * *

In [27]:
# rightanledtriangle.py
n = int(input('Enter the number of rows: ')) # 10
for i in range(1, n+1):
    for j in range(1, i+1):
        print('* ', end='')
    print()

Enter the number of rows: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [29]:
# using only one loop
n = int(input('Enter the number of rows: ')) # 10
for i in range(1, n+1):
    print('* '*i)

Enter the number of rows: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [30]:
# using only one loop
n = int(input('Enter the number of rows: ')) # 10
for i in range(1, n+1):
    print('# '*i)

Enter the number of rows: 10
#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #

## 89. Print Pyramid Pattern
           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *

In [32]:
# pyramidpattern.py
n = int(input('Enter number of rows: '))
for i in range(1, n+1):
    print(' '*(n-i), end='')
    print('* '*i)

Enter number of rows: 8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

## 90. Find substrings in a given string
- FInd position of 'idea'
        Take up one idea and make that idea your life. Think and dream of that idea and leave every other idea alone.

In [36]:
# findallpositions.py
s = 'Take up one idea and make that idea your life. \
Think and dream of that idea and leave every other idea alone.'
subs = 'idea'
found = False
pos = -1
length = len(s)
while True:
    pos = s.find(subs, pos+1, length)
    if pos == -1:
        break
    print('Found the substring at position ', pos)
    found = True
if found == False:
    print("Substring not found")

Found the substring at position  12
Found the substring at position  31
Found the substring at position  71
Found the substring at position  98