## 247. Introduction
- We'll learn how to connect and execute SQL statements against a database
- We do that using connectors
- There is a respective connector for every database whether it is oracle or mysql, that we need to install
- Once we have that connector, we can easily connect to the database and perform CRUD operations namely Create, Read, Update & Delete against the Database tables
                    Connect
        Python App --------------> DB
                    SQL
- The steps used to connect and work will remain same, no matter which database you're working with
- Following steps will be used to connect and work with MySQL database.
    1. ```Install the appropriate connector``` (in our case MySQL Connector, and in case of Oracle then install Oracle Connector), which is a one-step process
    2. Once you have that connector, we'll ```import that connector module``` into our program
    3. Use that connector to ```create a connection``` against the database
    4. Using the connection, we'll ```create a cursor``` object.
- ```Cursor``` :
    - The cursor is the key, using which we can execute all the SQL statements like INSERT, SELECT, UPDATE, etc.
    - The data you fetch using SQL statements will go into the cursor, and then we can fetch that data as required

## 248. Install MySQL
- We'll see how to downlaod & install MySQL Community Server on your windows system
- Launch your web browser, and search for downloading ```Visual C++``` on your machine as per architecture of your machine, and then install it which is a pre-requisite to install the MySQL
- Go back to browser again and search for ```MySQL Community Server download```, then download the MySQL server installer Community version which is an open-source version
- Once you launch the installer, Choose 'Server Only' in setup type
- After it fetches the packages, select 'Standalone MySQL Server` in high availability, and select 'Use Strong Password Encyption for Authentication' in authentication method, give root passwords as 'test1234' or 'mysql'
- After you finish, MySQL Server should be up-and-running

## 249. Install MySQL workbench
- You'll install MySQL Workbench which is a GUI based tool to access MySQL server, so it is a client
- Launch youe web browser and launch 'mysql workbench', click on the downloads and download the installer
- Once you have the installer, it is a straight forward installation with setup type as 'Complete'
- Once you finish installation, it should launch itself if you kept the checkbox checked
- MySQL Workbench makes it super easy to connect and work with MySQL server and it gives a default connection for the local machine
- You can add more connections by clicking on ```+``` button, then you can even connect to remote MySQL servers by simply providing the name you want to give, the IP address and port number of the host machine, such machines can even be on cloud
- Click on the ```Local Instance MySQL80```, and it asks for the password which you've set earlier in the MySQL server installation which is 'test1234' or 'mysql' and the hit 'OK'
- It will open a query window, where you can create your databases and do whatever you want with MySQL Server
``` sql
    SHOW DATABASES;
    -- create a database called mydb
    CREATE DATABASE mydb;
    USE mydb;
    SHOW TABLES;
```

## 250. Install mysql connector
- To Connect and work with MySQL database from your python script, you need to install the MySQL connector

In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\surya\appdata\local\programs\python\python39\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\surya\appdata\local\programs\python\python39\lib\site-packages (from mysql-connector-python) (4.23.4)
Note: you may need to restart the kernel to use updated packages.

In Case of Mac users, some problems have been observed while installing MySQL Server connector using above command, so use the command below

In [ ]:
LDFLAGS=L/usr/local/opt/openssl/lib pip3 install mysql-connector-python

## 251. Setup the Database
- We'll create the database taht we're going to use
- Launch your MySQL WorkBench, connect to the MySQL database, goto a SQL window by hitting the ```+``` button on the left
``` sql
    -- create a database called mydb
    CREATE DATABASE mydb;
    USE mydb;
    -- create the table
    CREATE TABLE emp(id int, name varchar(30), sal int);
    SELECT * FROM emp; -- it should have no data initially
```
- We'll perform CRUD operations against the table 'emp'

## 252. Connect to the DB from Python
- You'll learn how to connect to a MySQL Database from a Python program
- ```mysql.connector.connect(host='', database='', user='', password='', port='3306')```
    - create or get a MySQL connection object
    - ```connect()``` will open a connection to a MySQL Server and return a MySQLConnection Object
    - takes parameters ```host```, ```database```, ```user```, ```password```, ```port```
    - default port for MySQL is ```3306``` which it uses automatically
    - returns a 'MySQLConnection' or 'PooledMySQLConnection'
- ```mysql.connector.MySQLConnection.is_connected()```
    - reports whether the connection to MySQL server is available
- ```mysql.connector.MySQLConnection.close()```
    - Disconnect from the MySQL Server

In [16]:
# dboperations
# readEmp.py
import mysql.connector

conn = mysql.connector.connect(host='localhost', database='mydb', user='root', password='mysql', port='3306')
# print("DEBUG:", type(conn)) # debug
# print("DEBUG:", conn) # debug
if conn.is_connected():
    print("Connected to MySQL db")
    # logic for performing all the CRUD operations
conn.close()

Connected to MySQL db

## 253. READ
- Fetch the data from the database using cursor
- We'll add some records to employee table from MySQL Workbench
- To perform database operations, we need a cursor
``` sql
    -- Insert data into table emp before reading
    INSERT INTO emp VALUES (1, 'John', 10000);
    INSERT INTO emp VALUES (2, 'Bob', 20000);

```
- ```mysql.connector.MySQLConnection.cursor(buffered=None, raw=None, prepared=None, cursor_class=None, dictionary=None, named_tuple=None)```
    - Instantiates and returns a cursor using C extension
    - returns instance of CMySQLCursor or subclass
    - raises ```ProgrammingError``` when ```cursor_class``` is not a sub-class of ```CursorBase```
    - raises ```ValueError``` when cursor is not available
- ```mysql.connector.MySQLConnection.cursor.fetchone()```
    - returns next row of a query result set
    - returns None if there are no records returned by query in execute
    - returns tuple containing values from fetched record

In [31]:
import mysql.connector

conn = mysql.connector.connect(host='localhost', database='mydb', user='root', password='mysql')

if conn.is_connected():
    print("Connected to MySQL db")

cursor = conn.cursor()

cursor.execute('SELECT * FROM emp')

row = cursor.fetchone()
# print('DEBUG:', row) # debug
# print('DEBUG:', type(row)) # debug

while row is not None:
    print(row)
    row = cursor.fetchone()

cursor.close()
conn.close()

Connected to MySQL db
(1, 'John', 10000)
(2, 'Bob', 20000)

## READ - fetchall
- We'll modify the previous program so that we'll fetch all the records at once instead of fetching one record at a time
- use method ```cursor.fetchall()```
- ```mysql.connector.MySQLConnection.cursor.fetchall()```
    - returns all rows of a query result set
    - returns empty list if no records are returned by query in execute
    - returns list containing tuples of data representing records
- ```mysql.connector.MySQLConnection.cursor.rowcount```
    - Property of cursor that indicates number of rows returned by 'SELECT' statements or number of rows affected by 'INSERT' or 'UPDATE'

In [41]:
import mysql.connector

conn = mysql.connector.connect(host='localhost', database='mydb', user='root', password='mysql')

if conn.is_connected():
    print("Connected to MySQL db")

cursor = conn.cursor()

cursor.execute('SELECT * FROM emp')

rows = cursor.fetchall()
# print('DEBUG:', rows) # debug
# print('DEBUG:', type(rows)) # debug
print('Total number of records:', cursor.rowcount)
# print('DEBUG:', cursor.rowcount) # debug

for row in rows:
    print(row)
    # print('DEBUG:', type(row)) # debug

cursor.close()
conn.close()

Connected to MySQL db
Total number of records: 2
(1, 'John', 10000)
(2, 'Bob', 20000)

## 255. CREATE
- We'll perfrom the create operation or Insert a record into the emp table with transaction management using commit and rollback
- While deailg with DML statements such as INSERT, UPDATE or DELETE, we should always either commit or rollback the data
- ```mysql.connector.MySQLConnection.commit()```
    - Commit current Transaction
    - If there are multiple DML statements in ```cursor.execute()``` method, all those statements will take affect only when ```commit()``` is called
- ```mysql.connector.MySQLConnection.rollback()```
    - rollback current transaction

In [79]:
# createEmp.py
import mysql.connector

conn = mysql.connector.connect(host='localhost', database='mydb', user='root', password='mysql')

if conn.is_connected():
    print("Connected to MySQL db")

cursor = conn.cursor()

try:
    cursor.execute("INSERT INTO emp VALUES (3, 'Abhy', 30000)")
    conn.commit()
    print("Employee Added")
except:
    conn.rollback()

cursor.close()
conn.close()

Connected to MySQL db
Employee Added

## 256. DELETE
- The next CRUD operation is the Delete operation

In [80]:
# deleteEmp.py
import mysql.connector

def delete(id):
    conn = mysql.connector.connect(host='localhost', database='mydb', user='root', password='mysql')
    if conn.is_connected():
        print("Connected to MySQL db")
    cursor = conn.cursor()
    str = "DELETE FROM emp WHERE id='%d' "
    args = (id)
    try:
        # cursor.execute("DELETE FROM emp WHERE id='%d' " %(id)) # using format string
        cursor.execute(str % args)
        conn.commit()
        print("Employee Deleted")
    except:
        conn.rollback()
    finally:
        cursor.close()
        conn.close()

empId = int(input('Enter Emp Id:'))
delete(empId) # 3

Enter Emp Id:3
Connected to MySQL db
Employee Deleted

In [81]:
# updateEmp.py
import mysql.connector

def update(id, sal):
    conn = mysql.connector.connect(host='localhost', database='mydb', user='root', password='mysql')
    if conn.is_connected():
        print("Connected to MySQL db")
    cursor = conn.cursor()
    # str = "DELETE FROM emp WHERE id='%d' "
    str = "UPDATE emp SET sal='%d' WHERE id='%d' "
    args = (sal, id)
    try:
        # cursor.execute("UPDATE emp SET sal='%d' WHERE id='%d' " %(sal, id)) # using format string
        cursor.execute(str % args)
        conn.commit()
        # print(cursor.rowcount)
        if cursor.rowcount==0:
            raise Exception
        print("Salary Updated to %d for empId %d " %(sal, id))
    except:
        conn.rollback()
        print('Employee ID not found')
    finally:
        cursor.close()
        conn.close()

empId = int(input('Enter Emp Id:'))
sal = int(input('Enter new salary:'))
update(empId, sal) # 2 27000

Enter Emp Id:2
Enter new salary:27000
Connected to MySQL db
Employee ID not found