## 18. Introduction

In [ ]:
a=10
f=10.23
s="You are the creator of your destiny"

## Five Data Types
1. None
    - an object that does not contain any value
2. Numeric Types
    - int, float, complex
3. Sequences
    - str, bytes, bytearray, list, tuple, range
4. Sets
    -
5. Mappings
    - used to map-reduce

## 19. Numeric Types

In [26]:
# numerictypes.py
a=13
b=100
c=-66
print(a, b, c)

13 100 -66

In [ ]:
x=33.5
y=-25.8
z=205
print(x, y, z)

33.5 -25.8 205

In [ ]:
a=13
b=100
c=-66
print(a, b, c)
print(type(a))

13 100 -66
<class 'int'>

In [ ]:
x=33.5
y=-25.8
z=205
print(x, y, z)
print(type(z))

33.5 -25.8 205
<class 'int'>

In [ ]:
x=33.5
y=-25.8
z=205.0
print(x, y, z)
print(type(z))

33.5 -25.8 205.0
<class 'float'>

## 20. Complex, Binary and Hexadecimal Types

In [ ]:
d = 3+5j
print(d)

(3+5j)

In [ ]:
print(type(d))

<class 'complex'>

In [ ]:
e = 0B1010
print(e)
print(type(e))

10
<class 'int'>

In [ ]:
f = 0XFF
print(f)
print(type(f))

255
<class 'int'>

In [ ]:
ff = 0o067
print(ff)
print(type(ff))

55
<class 'int'>

## 21. Boolean Types

In [ ]:
g = True
print(g)
print(type(g))

True
<class 'bool'>

In [ ]:
print(9>8)

True

In [ ]:
print(9<8)

False

## 22. Type Conversion Functions

In [ ]:
h = int(x)
print(h)
print(type(h))

33
<class 'int'>

In [ ]:
i = float("22.5")
print(i)
print(type(i))

22.5
<class 'float'>

In [ ]:
print(bin(10))

0b1010

In [ ]:
print(hex(10))

0xa

In [ ]:
print(oct(10))

0o12

## 23. Identifiers
- the names we give to the variables or functions within our python program are called identifiers
- Certain rules need to be followed while defining identifiers
    1. any number of alphabets are allowed
    2. it is case-sensitive
    3. You can use any number of numbers in the middle or at the end, but you cannot start an identifier name with a number
    4. you can have any number of under scores ```_``` at the beginning, middle or at the end of identifier
    5. ```_``` at beginning means private, and ```__``` at beginning means strong private
    6. ```__``` at beginning and end of function means, it is special function or magic function like ```__init__```
    6. You cannout any other special symbols in identifiers
    7. You cannot have keywords as identifiers

In [ ]:
userid = 123
userID = 123
# these are two different variables

In [ ]:
user123id123 = 123 # valid
123user123id123 = 123 # invalid, digits not allowed at start

SyntaxError: ignored

In [ ]:
_user__id___ = 123 # valid
_user__id$ = 123 # invalid, other special sumbols not allowed

SyntaxError: ignored

In [ ]:
_user_idif = 123 # valid
if = 123 # invalid, keyword as identifier is not allowed

SyntaxError: ignored

In [ ]:
_userID = 123 # valid, private variable (same level as protected in C++)
__userID = 123 # valid, strong private (same level as private in C++)

In [ ]:
def __init__(): # valid, special function
    body='goes here'