## 45. None Type
- When we don't have a value to assign yet to a variable, we can assign it ```None``` (similar to Null)
- if a function does not return anything, compiler automatically returns ```None```

In [1]:
# nonetype.py
a = None
print(a)

def m1():
    a = 10

print(m1())

None
None

## 46. Escape Chars
- used to change the meaning of special characters
- ```\n``` : new line
- ```\t``` : tab space
- ```\"``` : double quote
- ```\\``` : backward slash, does  not turn next character into escape character

In [2]:
#escapechars.py
print("Surya is \nawesome and cool")
print("Surya is \tawesome and cool")
print("Surya is 'awesome and cool' ")
print("Surya is \"awesome and cool\" ")
print("Surya is \\awesome and cool\\ ")

Surya is
awesome and cool
Surya is 	awesome and cool
Surya is 'awesome and cool'
Surya is "awesome and cool"
Surya is \awesome and cool\

## 47. Constants
- no such thing as constant in python
- only a convention is followed for Constants in python
- Convention : use capitalized identifiers to indicate Constants
    - Example : PI = 3.14

In [3]:
PI = 3.14
MAX_VALUE = 10
INTREST_RATE = 7

## 48. del keyword
- once you're done using an object, it can be cleaned up using ```del``` keyword
- ```del``` will deallocate memory

In [4]:
# delete.py
a = 10
print(a)

10

In [5]:
del a
print(a) # cannot access a, as it is deallocated

NameError: ignored

In [6]:
s = 'abcd'
del s

In [7]:
s = 'abcd'
del s[0] # not allowed, cannot modify/delete elements in immutable types
print(s)

TypeError: ignored

In [8]:
s = 'abcd'
s = None
print(s)

None

In [9]:
s = 'abcd'
s = None
s = "xyz"
print(s)

xyz

## 49. Data Types Summary

In [25]:
#summary.py
a=20
b=20
print(id(a), id(b)) # shows immutability
b=30
print(id(a), id(b)) # shows immutability
f = 3.14

c = 5+3j
print(c.real)
print(c.imag)

s = 'surya' # shows immutability
print(type(s))

lst=[1,2,3,4,5] # sequence of ordered elements
print(type(lst))

b = bytes(lst) # shows immutability
print(type(b))

ba = bytearray(lst) # shows mutablity
print(type(ba))
r1 = range(20)
r2 = range(20) # will be assigned same memory location
range(1, 10)
range(1, 30, 3)

t = (1, 2, 3, 4, 5) # tuple is immutable
print(type(t))

s = {1, 3, 4, 5, 7} # mutable collection of unique unordered elements
print(type(s))
s = {1, 3, 4, 5, 5, 7}
print(s)

fs = frozenset(s) # immutable collection of unique unordered elements
print(type(s))

d = {1:100, 1:90, 3:89} # mutable name-value pair object
print(type(d))

1667996019600 1667996019600
1667996019600 1667996019920
5.0
3.0
<class 'str'>
<class 'list'>
<class 'bytes'>
<class 'bytearray'>
<class 'tuple'>
<class 'set'>
{1, 3, 4, 5, 7}
<class 'set'>
<class 'dict'>