## 113. Introduction
- Lambda
    - is an anonymous function that will not have any name
    1. for normal function
        - uses def keyword, function name, argument list and then statements/body
        - may/may not return some value
        - Syntax :
        ``` python
        def function_name(argument_list):
            statements
        ```
        - Example :
        ``` python
        def square(x):
            return x*x
        ```
    2. for lambda function
        - uses lambda keyword, argument list, and expression to be evaluated
        - returns a function that evaluates the expression
        - usually defined inside other functions to evaluate expressions in functions such as filter, map, reduce, etc.
        - Syntax:
        ``` python
        lambda argument_list : expression
        ```
        - Example :
        ``` python
        f = lambda x : x*x
        result = f(10) # returns 100
        ```

## 114. lambda - Cube of a given number
- Create a Lambda that will calculate the cube of a given number

In [3]:
# cubelambda.py
def cube(n):
    return n**3
print(cube(2))

8

In [4]:
f = lambda n:n**3
print(f(2))

8

## 115. Lambda - Even or Odd
- Create a Lambda that will return YES if the given number is even and NO if the given number is odd

In [6]:
# evenoroddlambda.py
l = lambda x : 'YES' if x%2==0 else 'NO'
print(l(10))
print(l(9))

YES
NO

## 116. Lambda - Sum of two numbers
- Create a lambda that will calculate the sum of two numbers

In [8]:
# sumlambda.py
def add(a, b):
    return a+b
print(add(10, 20))

30

In [9]:
l = lambda a, b : a+b
print(l(10, 20))

30

### 117. Using a filter
- Retrieve only even numbers from a given list

In [16]:
# evenoroddfilter.py
lst = [10, 2, 33, 45, 89, 2]
result = filter(lambda x:x%2==0, lst)
print(result)

<filter object at 0x0000027D6F479400>

In [17]:
lst = [10, 2, 33, 45, 89, 2]
result = list(filter(lambda x:x%2==0, lst))
print(result)

for i in result : print(i)

[10, 2, 2]
10
2
2

## 118. Using the map function
- Using the map function, double the value of each element in the list

In [18]:
# doubleusingmap.py
lst = [2, 3, 4, 5]
result = map(lambda n : n*2, lst)
print(result)

<map object at 0x0000027D70A45B80>

In [19]:
lst = [2, 3, 4, 5]
result = list(map(lambda n : n*2, lst))
print(result)

[4, 6, 8, 10]

## 119. Using reduce function
- Using the reduce function to find out the sum of all elements in a list

In [21]:
#sumusingreduce.py
from functools import reduce
lst = [5, 10, 15, 20]
result = reduce(lambda x, y : x+y, lst)
print(result)

50

## 120. Decorators