## 24. Introduction
- Collections in Python are
    - List
        - stores any number of values/objects dymanically while maintaining order of them
    - Set
        - does not allow duplicates
        - used to store any number of values/objects dynamically
    - Dictionary
        - is a map, stores in form of K-V pairs

## 25. Create a string

In [1]:
# stringtype.py
s = "You are awesome"
print(s)

You are awesome

In [ ]:
s1 = """You are
the creator
of your destiny"""
print(s1)

You are
the creator
of your destiny

### Indexing
- concept of reaching out to a particular character / location in a string
- starts with ```0```, 1, 2, 3, ... and ends at ```len(x) - 1```

In [ ]:
print(s[0]) # indexing

Y

In [ ]:
print(s[2]) # indexing

u

### String repetition
- using ```*``` operator to repeat string

In [ ]:
print(s*2) # String Repetition

You are awesomeYou are awesome

In [ ]:
print(s*3) # String Repetition

You are awesomeYou are awesomeYou are awesome

### len(str)
- returns number of items in a container

In [ ]:
print(len(s1))

35

In [ ]:
print(len(s))

15

## 26. Slicing a string
- ```s[start : end]```

In [ ]:
print(s)
print(s[0:5])

You are awesome
You a

```s[0:]``` means ```s[0:end]```

In [ ]:
print(s)
print(s[0:])

You are awesome
You are awesome

```s[:8]``` means ```s[start:8]```

In [ ]:
print(s)
print(s[:8])

You are awesome
You are

### Slicing with Negative indices

```s[-3:-1]``` means ```s[last 3rd:last one]```
- starts from last third element, goes till second last element, but does not include the last element

In [ ]:
print(s)
print(s[-3:-1])

You are awesome
om

## 27. Steps in Slicing
- ```s[start : end : step]```
- default step value is 1

In [ ]:
print(s)
print(s[0:9:2])

You are awesome
Yuaea

```s[15::-1]```, here ```-1``` step means access string in reverse order due to negative step

In [ ]:
print(s)
print(s[15::-1])

You are awesome
emosewa era uoY

In [ ]:
print(s[6:2:-1])

era

```s[::-1]``` means step start to end but in reverse order

In [ ]:
print(s)
print(s[::-1])

You are awesome
emosewa era uoY

## 28. Strip the Spaces

In [ ]:
s="  You are awesome  "
print(s)

  You are awesome

### s.strip
- returns a string with leading and trainling witespaces removed

In [ ]:
print(s.strip())

You are awesome

### s.lstrip
- returns a string with only leading witespaces removed

In [ ]:
print(s.lstrip())

You are awesome

### s.rstrip
- returns a string with only trailing witespaces removed

In [ ]:
print(s.rstrip())

  You are awesome

## 29. Few more string methods

### str.find(substr)
```str.find(sub[, start[, end]])```
- returns index of first match of substring in the string
- returns -1 if substring is not found

In [ ]:
print(s.find("awe"))

10

In [ ]:
print(s.find("awe", 0, len(s)))

10

In [ ]:
print(s.find("awe", 0, 8))

-1

### str.count(substr)
```S.count(sub[, start[, end]])```
- Return the number of non-overlapping occurrences of substring sub in
string S[start:end]

In [ ]:
print(s.count("a"))

2

In [ ]:
print(s.count("a", 0, 9))

1

### str.replace(old, new)
```s.replace(old, new, count=-1, /)```
- Return a copy with all occurrences of substring old replaced by new.

In [ ]:
print(s.replace("awesome", "super"))

  You are super

### str.upper()
- returns string converted to uppercase

In [ ]:
print(s.upper())

  YOU ARE AWESOME

### str.lower()
- returns string converted to lowercase

In [ ]:
print(s.lower())

  you are awesome

### s.title()
- returns string with each word in Title Case

In [ ]:
print(s.title())

  You Are Awesome

## 30. Create a List
- supports indexing, slicing & repetition

### Methods in list
- ```list[index] = object``` :
    - item at *index* of *list* is replaced by *object*
- ```list[start_index : stop_index] = iterable```
    - slice of list from start_index to stop_index is replaced by the contents of the iterable
- ```list[start_index : stop_index : step] = iterable``` :
    - the elements of *list[start_index : stop_index : step]* are replaced by those of iterable
- ```del list[start_index : stop_index]``` :
    - removes the elements of list[start_index : stop_index] from the list
    - same as *list[start_index : stop_index] = [ ]*
- ```del list[start_index : stop_index : step]``` :
    - removes the elements of *list[start_index : stop_index : step]* from the list
- ```list.append(object)``` :
    - Append object to the end of the list.
- ```list.clear()``` :
    - Remove all items from list.
- ```list.copy()``` :
    - Return a shallow copy of the list.
- ```list.count(value)``` :
    - Return number of occurrences of value.
- ```list.extend(iterable)``` :
- ```list += iterable``` :
    - Extend list by appending elements from the iterable.
- ```list.index(value[, start_index[, stop_index]])``` :
    - Return first index of value.
    - Raises *ValueError* if the value is not present.
- ```list.insert(index, object)``` :
    - Insert object before index
- ```list.pop(index=-1)``` :
    - Remove and return item at index (*default last*).
    - Raises *IndexError* if list is empty or index is out of range.
- ```list.remove(value)``` :
    - Remove first occurrence of value.
    - Raises *ValueError* if the value is not present.
- ```list.reverse()``` :
    - Reverse *IN PLACE*.
    - neither takes an argument, nor returns anything, instead it makes changes in referenced list
- ```lst.sort(*, key=None, reverse=False)``` :
    - Sort the list in *ascending* order and return None.
    - The sort is in-place (i.e. the list itself is modified) and stable (i.e. the order of two equal elements is maintained).
    - If a key function is given, apply it once to each list item and sort them, ascending or descending, according to their function values.
    - The *reverse flag can be set to sort in descending* order.

In [22]:
ls = [1, 2, 3, 4, 5]
print(ls)
ls[1:4] = [33, 55, 22, 66, 77, 88, 99, 11]
print(ls)

[1, 2, 3, 4, 5]
[1, 33, 55, 22, 66, 77, 88, 99, 11, 5]

In [2]:
# listtype.py
lst = [] # defines empty list
print(lst)

[]

In [ ]:
lst = [10, 20, 'Surya', -10, 30.5] # list supports different types of data
print(lst)

[10, 20, 'Surya', -10, 30.5]

### indexing in lists

In [ ]:
print(lst[3])

-10

In [ ]:
print(lst[3:5])

[-10, 30.5]

### repetition in lists

In [ ]:
print(lst*4)

[10, 20, 'Surya', -10, 30.5, 10, 20, 'Surya', -10, 30.5, 10, 20, 'Surya', -10, 30.5, 10, 20, 'Surya', -10, 30.5]

### len(str)

In [ ]:
print(len(lst))

5

## 31. Adding and removing list elements

### list.append(object)
- append object at end of list

In [ ]:
lst.append(40)
print(lst)

[10, 20, 'Surya', -10, 30.5, 40]

### list.remove(value)
- removes the list element by value
- remove first occurence of value
- throws error if value/element is not found

In [ ]:
lst.remove('surya')
print(lst)

ValueError: ignored

In [ ]:
lst.remove('Surya')
print(lst)

[10, 20, -10, 30.5, 40]

### del(list[index])
- removes the list element by index

In [ ]:
del(lst[1])
print(lst)

[10, -10, 30.5, 40]

## 32. Few more list functions

### list.clear()
- removes all items from list

In [ ]:
lst.clear()
print(lst)

[]

In [ ]:
lst = [10, 20, -10, 30.5]

### max(list)
- returns max element from list
- can be used only when elements are of same type

In [ ]:
print(max(lst))

30.5

### min(list)
- returns min element from list
- can be used only when elements are of same type

In [ ]:
print(min(lst))

-10

### list.insert(index, object)
- insert object before specified index

In [ ]:
print(lst)
lst.insert(3, 99)
print(lst)

[10, 20, -10, 30.5]
[10, 20, -10, 99, 30.5]

### list.sort(key, reverse)
- sorts lists in ascending order by default
- does not return a list, instead it sorts original list

In [ ]:
lst.sort()
print(lst)

[-10, 10, 20, 30.5, 99]

In [ ]:
lst.sort(reverse=True)
# sorts in reverse order
print(lst)

[99, 30.5, 20, 10, -10]

## 33. Tuple
- cannot be modified - immutable
- can be seen as read-only list
- maintains insertion order
- allows duplicate elements
- allows different types / heterogeneous elements
- ```( )``` in a tuple are optional and recommended for readability
    - t1 = (1, 2, 3, 4)
    - t2 = 1, 2, 3, 4
- for a tuple with single element, always end it with a comma
    - t3 = 1,

### Methods in tuple
- ```tuple.count(value)``` :
    - Return number of occurrences of value.
- ```tuple.index(value[, start_index[, stop_index]])``` :
    - Return first index of value.
    - Raises *ValueError* if the value is not present.

In [ ]:
t1.index()

In [3]:
# tupletype.py
t1 = (1, 2, 3, 4)
t1

(1, 2, 3, 4)

In [ ]:
t2 = 1, 2, 3, 4
t2

(1, 2, 3, 4)

In [ ]:
t3 = 1,
t3

(1,)

In [ ]:
t4=()
print(tpl)

()

## 34. Use a Tuple

In [ ]:
tpl = (20, 30, 40, 20, 50, 'xyz')
print(tpl)

(20, 30, 40, 20, 50, 'xyz')

In [ ]:
tpl = (20,)
print(type(tpl))

<class 'tuple'>

In [ ]:
tpl = (20)
print(type(tpl))

<class 'int'>

In [ ]:
tpl = (20, 30, 20, 'xyz')
tpl[2] = 123 # not allowed to modify element becuase tuple is immutable
# but overwriting a tuple is allowed

TypeError: ignored

### repetition in tuple

In [ ]:
tpl = (20, 30, 20, 'xyz')
print(type(tpl))
print(tpl*3)

<class 'tuple'>
(20, 30, 20, 'xyz', 20, 30, 20, 'xyz', 20, 30, 20, 'xyz')

### tuple.count(value)
- returns number of occurences if a value

In [ ]:
print(tpl.count(20))

2

### tuple.index(value)
- returns first index of value

In [ ]:
print(tpl.index('xyz'))

3

In [ ]:
print(tpl.index(20))

0

### Slicing a tuple

In [ ]:
print(tpl[1:3])

(30, 20)

## 35.  List to Tuple

### tuple(iterable)
- returns empty tuple if empty
- returns a tuple of items in an iterable

In [ ]:
lst = [67, 34, 'XYZ']
print(type(lst))
tpl1 = tuple(lst)
print(type(tpl1))
print(tpl1)

<class 'list'>
<class 'tuple'>
(67, 34, 'XYZ')

## 36. List vs Tuple
    - square brackets [ ] are used          Parenthesis ( ) are used
    - square brackets are mandatory         Parenthesis are optional
    - mutable                               immutable
    - used where elements keeps changing    used where elements don't change
    - can't be used as key to dict          can be used as a key to dict because it is immutable & hashable
    - [1, 2, 3]                             (1, 2, 3)

## 37. Set Type
- uses ```{ }``` to represent elements
- doesn't allow duplicates
- doesn't guarantee the order of elements, so indexing is not allowed
- repetition is not allowed
- elements of set must be hashable(immutable)

### Methods in set
- ```len(set)``` :
    - Return the number of elements in set
    - (cardinality of set).
- ```ele in set``` :
    - Test ele for membership in set.
- ```ele not in set``` :
    - Test ele for non-membership in set.
- ```set.add(ele)``` :
    - Add an element to a set.
    - This has no effect if the element is already present.
- ```set.update(*others)``` :
- ```set |= other | ...``` :
    - Update the set, adding elements from all others.
    - (i.e. Update a set with the union of itself and others.)
- ```set.clear()``` :
    - Remove all elements from this set.
- ```set.copy()``` :
    - Return a shallow copy of a set.
- ```set.discard(ele)``` :
    - Remove an element from a set if it is a member.
    - If the element is not a member, do nothing.
- ```set.remove(ele)``` :
    - Remove an element from a set; it must be a member.
    - Raises *KeyError* if the element is not a member.
- ```set.pop()``` :
    - Remove and return an arbitrary set element.
    - Raises *KeyError* if the set is empty.
- ```set.isdisjoint(other)``` :
    - Return True if the set has no elements in common with other. Sets are disjoint if and only if their intersection is the empty set.
- ```set.issubset(other)```
- ```set <= other```:
    - Test whether every element in the set is in *other*.
- ```set.issuperset(other)``` :
- ```set >= other``` :
    - Test whether every element in *other* is in the set.
- ```set.union(*others)``` :
- ```set | other | ...``` :
    - Return a new set with elements from the set and all others.
    - (i.e. all elements that are in either set.)
- ```set.intersection(*others)```:
- ```set & other & ...``` :
    - Return a new set with elements common to the set and all others.
    - (i.e. all elements that are in both sets.)
- ```set.intersection_update(*others)``` :
- ```set &= other & ...``` :
    - Update the set, keeping only elements found in it and all others.
- ```set.difference(*others)``` :
- ```set - other - ...``` :
    - Return a new set with elements in the set that are not in the others.
    - (i.e. all elements that are in this set but not the others.)
- ```set.difference_update(*others)```:
- ```set -= other | ...``` :
    - Update the set, removing elements found in others.
- ```set.symmetric_difference(other)``` :
- ```set ^ other``` :
    - Return a new set with elements in either the set or other but not both.
    - (i.e. all elements that are in exactly one of the sets.)
- ```set.symmetric_difference_update(other)``` :
- ```set ^= other``` :
    - Update the set, keeping only elements found in either set, but not in both.

In [4]:
#   settype.py
s = {10, 20, 30, "XYZ"}
print(s)
print(type(s))

{10, 20, 'XYZ', 30}
<class 'set'>

In [ ]:
s = {10, 20, 30, "XYZ", 10, 20, 10} # duplicates not allowed
print(s)
print(type(s))

{10, 'XYZ', 20, 30}
<class 'set'>

### set.update(iterable)
- to update elements of set with new elements of an iterable

In [ ]:
s.update([88, 99])
print(s)

{99, 10, 'XYZ', 20, 88, 30}

### indexing in set

In [ ]:
print(s[0]) # indexing is not allowed in set

TypeError: ignored

### slicing a set

In [ ]:
print(s[0:5]) # indexing is not allowed in set, so slicing is not possible

TypeError: ignored

### repetition in set

In [ ]:
print(s*3) # repetition is not allowed

TypeError: ignored

### set.remove(member)
- removes single element from a set
- throws error if element is not found in set

In [ ]:
s.remove(30)
print(s)

{99, 10, 'XYZ', 20, 88}

## 38. Frozen Set
- doesn't allow to update or remove elements from set
- makes a set immutable, only traversing through elements is allowed

### Methods in frozenset
- ```len(frozenset)``` :
    - Return the number of elements in set.
    - (cardinality of set).
- ```ele in frozenset``` :
    - Test ele for membership in set.
- ```ele not in frozenset``` :
    - Test ele for non-membership in set.
- ```frozenset.copy()``` :
    - Return a shallow copy of a set.
- ```frozenset.isdisjoint(other)``` :
    - Return True if the set has no elements in common with other. Sets are disjoint if and only if their intersection is the empty set.
- ```frozenset.issubset(other)```
- ```frozenset <= other```:
    - Test whether every element in the set is in *other*.
- ```frozenset.issuperset(other)``` :
- ```frozenset >= other``` :
    - Test whether every element in *other* is in the set.
- ```frozenset.union(*others)``` :
- ```frozenset | other | ...``` :
    - Return a new set with elements from the set and all others.
    - (i.e. all elements that are in either set.)
- ```frozenset.intersection(*others)```:
- ```frozenset & other & ...``` :
    - Return a new set with elements common to the set and all others.
    - (i.e. all elements that are in both sets.)
- ```frozenset.difference(*others)``` :
- ```frozenset - other - ...``` :
    - Return a new set with elements in the set that are not in the others.
    - (i.e. all elements that are in this set but not the others.)
- ```frozenset.symmetric_difference(other)``` :
- ```frozenset ^ other``` :
    - Return a new set with elements in either the set or other but not both.
    - (i.e. all elements that are in exactly one of the sets.)

In [ ]:
f.

In [9]:
f = frozenset(s)
print(type(f))
print(f)

<class 'frozenset'>
frozenset({10, 20, 'XYZ', 30})

In [ ]:
f.update([20]) # update in frozenset is not allowed

AttributeError: ignored

In [ ]:
f.remove(20) # remove operation in frozemset is not allowed

AttributeError: ignored

In [ ]:
print(f)

frozenset({'XYZ', 99, 20, 88, 10})

##39. range type

### range(stop)
- returns a sequence of ```integers``` starting from ```0``` till ```stop - 1```

In [5]:
# rangetype.py
r = range(5)
for i in r:
    print(i)

0
1
2
3
4

### range(start, stop)
- returns a sequence of ```integers``` starting from ```start``` till ```stop - 1```

In [ ]:
r = range(1, 6)
for i in r:
    print(i)

1
2
3
4
5

### range(start, stop, step)
- returns a sequence of ```integers``` starting from ```start``` till ```stop - 1``` with skipping ```step``` number of integers

In [ ]:
r = range(1, 15, 3)
for i in r:
    print(i)

1
4
7
10
13

## 40. bytes and bytearray
- max value allowed is 255 for a byte

In [6]:
# bytesandarrays.py
lst = [20, 30, 40, 234]
print(type(lst))

<class 'list'>

### bytes(iterable)
- constructs an immutable array of bytes from the iterable argument
- returns empty byte if no argument is passed
- modifing elements is not allowed as it is immutable
- slicing & repetition is allowed

In [ ]:
b = bytes()
print(b)

b''

In [ ]:
b = bytes(lst)
print(type(b))
print(b)

<class 'bytes'>
b'\x14\x1e(\xea'

#### indexing in bytes

In [ ]:
print(b[3])

234

In [ ]:
b[3] = 22 # not allowed as bytes is immutable

TypeError: ignored

#### slicing in bytes

In [ ]:
print(b[0:2])

b'\x14\x1e'

#### repetition in bytes

In [ ]:
print(b*3)

b'\x14\x1e(\xea\x14\x1e(\xea\x14\x1e(\xea'

### bytearray(iterable)
- construct a mutable bytearray object from the iterable argument
- returns an empty bytearray object if no argument is passed
- modifying elements is allowed as it is mutable
- slicing & repetition is allowed

In [ ]:
b1 = bytearray()
print(b1)

bytearray(b'')

In [ ]:
b1 = bytearray(lst)
print(type(b1))
print(b1)

<class 'bytearray'>
bytearray(b'\x14\x1e(\xea')

#### indexing in bytearray

In [ ]:
print(b1[3])

234

In [ ]:
b1[2] = 33 # updating elements is allowed
print(b1)

bytearray(b'\x14\x1e!\xea')

#### slicing in bytearray

In [ ]:
print(b1[1:3])

bytearray(b'\x1e!')

#### repetition in bytearray

In [ ]:
print(b1*3)

bytearray(b'\x14\x1e!\xea\x14\x1e!\xea\x14\x1e!\xea')

## 41. Dictionary
- uses Key:Value pair
- you can use any object as key and any object as value

### Methods in dictionary
- ```list(dict)``` :
    - Return a list of all the keys used in the dictionary dict.
- ```len(d)``` :
    - Return the number of items in the dictionary dict.
- ```dict[key]``` :
    - Return the *item / value* of *dict* with *key*.
    - Raises a *KeyError* if key is not in the map.
- ```dict[key] = value``` :
    - Set *dict[key]* to *value*.
- ```del dict[key]``` :
    - Remove *dict[key]* from *dict*.
    - Raises a *KeyError* if *key* is not in the map.
- ```key in dict``` :
    - Return True if *dict* has a *key*, else False.
- ```key not in dict``` :
- ```not key in dict``` :
    - Return True if *dict* does not have a *key*, else False.
- ```iter(dict)``` :
- ```iter(dict.keys())``` :
    - Return an iterator over the keys of the dictionary
- ```dict.clear()``` :
    - Remove all items from dict.
- ```dict.copy()``` :
    - Return a shallow copy of dict.
- ```dict.fromkeys(iterable[, value=None])``` :
    - Create a new dictionary with keys from *iterable* and values set to *value*.
- ```dict.get(key[, default=None])``` :
    - Return the value for *key* if *key* is in the dictionary, else default.
    - If *default* is not given, it defaults to None, so that this method never raises a KeyError.
- ```dict.items()```
    - a set-like object providing a *view* on dict's items
    - Return a new *view* of the dicts items ((key, value) pairs)
- ```dict.keys()``` :
    - a set-like object providing a *view* on dict's keys
    - Return a new *view* of keys of dict.
- ```dict.values()``` :
    - Return a new view of dict's values
- ```dict.pop(key[,default])``` :
    - Remove specified key and return the corresponding value.
    - If *key* is in the dict, remove it and return its *value*, else return *default*.
    - Raises *KeyError* if *default* is not given and *key* is not in the dict.
- ```dict.popitem()``` :
    - Remove and return a (*key, value*) pair as a 2-tuple.
    - Pairs are returned in LIFO (last-in, first-out) order.
    - Raises *KeyError* if the *dict* is empty.
    - useful to destructively iterate over a dictionary, as often used in set algorithms
- ```dict.update([E, ]**F)``` :
- ```dict.update([iterable])``` :
    - Returns None
    -   Update dict from dict/iterable E and F.
        - If E is present and has a .keys() method, then does:  for k in E: dict[k] = E[k]
        - If E is present and lacks a .keys() method, then does:  for k, v in E: dict[k] = value
    - In either case, this is followed by: for k in F:  dict[k] = F[k]
- ```dict.setdefault(key[, default=None])``` :
    - Return *value* for *key* if *key* is in the dict
    - Return *default* and insert *key* with a value of *default* if key is not in the dict
- ```reversed(dict)``` :
- ```reversed(dict.keys())``` :
    - Return a reverse iterator over the keys of the dict.
- ```dict | other``` :
    - Create a new dictionary with the merged *keys* and *values* of dict and *other*, which must both be dictionaries.
    - The values of other take priority when *dict* and *other* share keys.
- ```dict |= other``` :
    - Update the *dict* with *keys* and *values* from *other*, which may be either a mapping or an iterable of key/value pairs.
    - The values of other take priority when *dict* and *other* share keys.

In [29]:
list(reversed(dict1))

[3, 2, 1]

In [24]:
# dicttype.py
dict1 = {1:"john", 2:"bob", 3:"bill"}
print(dict1)

{1: 'john', 2: 'bob', 3: 'bill'}

### dict.items()
- returns items / elements of dict

In [ ]:
print(dict1.items())

dict_items([(1, 'john'), (2, 'bob'), (3, 'bill')])

### dict.keys()
- returns a set of keys in a dict

In [ ]:
k = dict1.keys()
for i in k: print(i)

1
2
3

### dict.values()
- returns a set of values in a dict

In [ ]:
v = dict1.values()
for i in v: print(i)

john
bob
bill

### indexing in dict
- keys act as index of dict

In [ ]:
print(dict1[3])

bill

### removing element from dict

In [ ]:
del dict1[2]
print(dict1)

{1: 'john', 3: 'bill'}

## 42. immutability
- All the primitive types are object types
- Immutablility applies to all the primitive types
- a = 10 --> points to a new memory location that has value ```10```
    - ```a``` points to a memory location that has value ```10```
- b = 10 --> points to an existing memory location that has value ```10```
    - check if any 10 is already stored in some location, if found, ```b``` will also point to the same memory location which has calue ```10```
- b = 14 --> points to a new memory location that has value ```14```
    - due to immutability, a new memory location is assigned value ```14```, and now variable ```b``` will point to this new location with value ```14```
    - due to immutability, python re-uses the same memory location for an existing value, instead of allocating a new memory location
    - so, many variables with same value will point to only one location containing that same value, thus avoiding memory wastage

### id(variable)
- returns the identity / address of an object

In [8]:
# immutable.py
# for same numerical value
a = 20
b = 20
print(id(a))
print(id(b))
# shows a and b point to same memory address which has value 20
print(a is b)
# shows a and b have same value

1934776101776
1934776101776
True

In [ ]:
# for same boolean value
a = True
b = True
print(id(a))
print(id(b))
# shows a and b point to same memory address which has value True
print(a is b)
# shows a and b have same value

140734869305448
140734869305448
True

In [ ]:
# for different boolean values
a = True
b = False
print(id(a))
print(id(b))
# shows a and b don't point to same memory address
print(a is b)
# shows a and b don't have same value

140734869305448
140734869305480
False

In [ ]:
# for same String value
a = 'Surya'
b = 'Surya'
print(id(a))
print(id(b))
# shows a and b don't point to same memory address
print(a is b)
# shows a and b don't have same value

2797487109104
2797487109104
True

## 43. Datatypes Patient Usecase

In [9]:
#datatypes.py
id = 1
firstName = "John"
lastName = "Bailey"
ssn = "123-45-6789"
hasInsurance = True
billingAmount = "10000"
print(type(billingAmount))
billingAmount = float(billingAmount)
print(type(billingAmount))
print(id, firstName, lastName, ssn, hasInsurance, billingAmount, ssn[7:len(ssn)])
lastName = "       Bailey"
print(id, firstName, lastName, ssn, hasInsurance, billingAmount, ssn[7:len(ssn)])
print(id, firstName, lastName.lstrip(), ssn, hasInsurance, billingAmount, ssn[7:len(ssn)])

<class 'str'>
<class 'float'>
1 John Bailey 123-45-6789 True 10000.0 6789
1 John        Bailey 123-45-6789 True 10000.0 6789
1 John Bailey 123-45-6789 True 10000.0 6789

## 44. Map of Lists Usecase

In [11]:
#datastructures.py
students = {'John':['Python', 'Django', 'DRF'], 'bob':["Java", 'Spring'], 'jim':['js', 'node', 'react']}
keys = students.keys()
for eachKey in keys:
    print("Courses taken by", eachKey, "are:")
    for eachCourse in students[eachKey]:
        print(eachCourse)

Courses taken by John are:
Python
Django
DRF
Courses taken by bob are:
Java
Spring
Courses taken by jim are:
js
node
react

In [29]:
### Assignment 3
countries = ['India', 'Israel', 'France']
print(countries)
countries.append('Japan')
print(countries)
# countries.remove('France')
countries.pop(2)
print(countries)
countries.insert(1, 'UAE')
print(countries)

countriess = {'India', 'Israel', 'France'}
print(countriess)
countriess.add('Japan')
print(countriess)
countriess.pop()
print(countriess)
countriess.update({'UAE'})
print(countriess)

['India', 'Israel', 'France']
['India', 'Israel', 'France', 'Japan']
['India', 'Israel', 'Japan']
['India', 'UAE', 'Israel', 'Japan']
{'Israel', 'India', 'France'}
{'Israel', 'Japan', 'India', 'France'}
{'Japan', 'India', 'France'}
{'UAE', 'India', 'Japan', 'France'}