## 55. Introduction
- to perform input operation in a standalone python program, we use ``` input()```
- to perform output operation in a standalone python program, we use ``` print()```

## 56. print

In [1]:
# printfun.py
print()

In [2]:
print("Hello"*3) # String Repetition

HelloHelloHello

In [5]:
print("Hello"*3)
print("All the power is with in you")

HelloHelloHello
All the power is with in you

In [6]:
print("Hello"*3)
print("All the power \n is with in you")

HelloHelloHello
All the power
 is with in you

In [7]:
a, b = 10, 20
print(a, b) # by default, it separates by ' ' character

10 20

In [8]:
a, b = 10, 20
print(a, b, sep=',') # separator can be changed using 'sep=' attribute
print(a, b, sep='++++')

10,20
10++++20

## 57. print and string formatting

In [14]:
name = "john"
marks = 94.5
print("Name is", name, "Marks are", marks)
print("Name is %s, Marks are %.2f"%(name, marks))

Name is john Marks are 94.5
Name is john, Marks are 94.50

In [16]:
name = "john"
marks = 94.5678
print("Name is %s, Marks are %.2f"%(name, marks))
print("Name is %s, Marks are %.3f"%(name, marks))

Name is john, Marks are 94.57
Name is john, Marks are 94.568

In [18]:
name = "john"
marks = 94.5678
print("Name is {}, Marks are {}".format(name, marks))
print("Name is {0}, Marks are {1}".format(name, marks))

Name is john, Marks are 94.5678
Name is john, Marks are 94.5678

## 58. input

In [26]:
# inputfun.py
s = input() # Surya is a good person
print(s)

Surya is a good person
Surya is a good person

In [27]:
s = input("Enter your name: ") # Surya
print(s)

Enter your name: Surya
Surya

In [33]:
"""s = input()
print(s)
s = input("Enter your name: ")
print(s)"""
i = input("Enter a integer number: ") # 123
print(type(i))

Enter a integer number: 123
<class 'str'>

In [34]:
i = int(input("Enter a integer number: ")) # 123
print(type(i))

Enter a integer number: 123
<class 'int'>

## 59. reading multiple inputs

In [41]:
lst = [x for x in input("Enter three numbers separated by space: ").split()] # 1 2 3
print(lst)

Enter three numbers separated by space: 1 2 3
['1', '2', '3']

In [42]:
lst = [x for x in input("Enter three numbers separated by space: ").split(",")] # 1,2,3
print(lst)

Enter three numbers separated by space: 1,2,3
['1', '2', '3']

In [43]:
lst = [int(x) for x in input("Enter three numbers separated by space: ").split(",")] # 1,2,3
print(lst)

Enter three numbers separated by space: 1,2,3
[1, 2, 3]

In [44]:
lst = [float(x) for x in input("Enter three numbers separated by space: ").split(",")] # 1.5, 2.6, 3.7
print(lst)

Enter three numbers separated by space: 1.5,2.6,3.7
[1.5, 2.6, 3.7]

## Assignment 4 : Input and Output Functions

In [51]:
# MyWaySandwich
print("Available Toppings:\nOnions\nLettuce\nTomato\nOlives\nPeppers\nTomatoes")
print("Pick Three Toppings:")
input()
input()
input()

n = int(input("\nHow Many Sandwiches: "))
print("Total:", 5*n)

Available Toppings:
Onions
Lettuce
Tomato
Olives
Peppers
Tomatoes
Pick Three Toppings:
Onions
Lettuce
Peppers

How Many Sandwiches: 4
Total: 20